@import "vars";

.card__item {
  position: absolute;
}

@for $i from 0 through $count - 1 {
  @for $j from 0 through $count - 1 {
    .card__item-#{$i}-#{$j} {
      left: $i*$width;
      top: $j*$height;

    }
  }
}
